---
---

@import "jekyll-theme-slate";

/* ここからカスタムCSSを追加 */

.highlight {
    /* ボタンを相対的に配置するための設定 */
    position: relative;
}

.copy-code-button {
    /* ボタンの配置と装飾 */
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
    background-color: #333; /* Slateに合うように調整 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
    
    &:hover {
        opacity: 1;
        background-color: #007bff; /* ホバー時の色 */
    }
}